{% extends 'index.html' %}

{% block title %}

{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chains.css') }}">
{% endblock %}

{% block content %}
    
<div id="chain-hero-container">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>


<div class="div" id="chain-data-container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th id="table-name-column">Name</th>
                    <th>TVL</th>
                    <th>M.Cap</th>
                    <th>Price</th>
                 
                </tr>
            </thead>
            <tbody>
                {% for chain in chain_data %}
                <tr>
                    <td>
                        
                    </td> 
                    <td class="d-flex">
                        <img src="{{ chain.image }}" id="coin-logo-table" class="img-fluid rounded-circle" alt="img of {{ chain.name}}">
                        <p class="font-weight-bold mx-1">
                            {{ chain.gecko_id }} <span id="ticker-span">[{{ chain.tokenSymbol}}]</span> 
                        </p>
                    </td>
                    <td class="number">{{ chain.tvl }}</td>
                    <td class="number">{{ chain.market_cap }}</td>
                    <td>${{ chain.current_price }}</td>
                   
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
