<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Crypto Research
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>


        

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Toggle button for small screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Left Section -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.home') }}">
                    <img src="https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Crypto Research
                </a>
            </div>
    
            <!-- Middle Section (Centered) -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tvl') }}">TVL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}">Chains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('stablecoins') }}">Stables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}">Volume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('fees') }}">Fees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}">NFTs</a>
                    </li>
                </ul>
            </div>
    
            <!-- Right Section -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('new_user') }}">Register</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control" type="text" placeholder="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    

{% block content %}


<div class="container-fluid" id="dashboard">
    <div class="row">
        <!-- Left container - Main Table -->

        {% block left_container %}
        <div class="col-lg-8 bg-light p-4" style="height: 80vh;">
            <div class="btn-group">
              <input type="text" class="form-control w-75" id="add-coin-favs" placeholder="Search coin...">
              <button class="btn btn-outline-danger w-25">Search</button>
            </div>


            <div class="table-responsive-sm" style="max-height: 65vh; overflow-y: auto;">
              <table class="table table-striped table-borderless table-sm" id="test">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" id="table-name-column">Coin</th>
                    <th scope="col">Price</th>
                    <th scope="col">TVL </th>
                    <th scope="col">MCap </th>
                    <th scope="col">FDV</th>
                    <th scope="col">Max Supply</th>
                    <th scope="col">Price 1d</th>
                    <th scope="col">Price 7d</th>
                    <th scope="col">Price 14d</th>
                    <th scope="col">Price 30d</th>
                    <th scope="col">Price 200d</th>
                    <th scope="col">Price 1y</th>
                    <th scope="col">Others</th>
                  </tr>
                </thead>

                <tbody>
                    {% for coin in coins %}
                    <tr>
                        <th scope="row">
                            {{ coin.market_cap_rank }}
                            <i class="bi bi-heart"></i>
                        </th>

                        <td>
                            <img src="{{ coin.image }}" alt="img of {{coin.displayName}}" id="coin-logo-table" class="d-inline img-fluid rounded-circle">
                            <p class="font-weight-bold d-inline"> {{ coin.name }} <span id="ticker-span">[{{ coin.symbol | upper}}]</span> </p>
                        </td>

                        <td>{{ coin.current_price }}</td>
                        <td class="number">{{ coin.tvl }}</td>
                        <td class="number">{{ coin.market_cap }}</td>
                        <td class="number">{{ coin.fully_diluted_valuation }}</td>
                        <td class="number">{{ coin.max_supply }}</td>
                        <td class="pct-change">{{ coin.price_change_percentage_24h_in_currency }}</td>
                        <td class="pct-change">{{ coin.price_change_percentage_7d_in_currency }}</td>
                        <td class="pct-change">{{ coin.price_change_percentage_14d_in_currency }}</td>
                        <td class="pct-change">{{ coin.price_change_percentage_30d_in_currency }}</td>
                        <td class="pct-change">{{ coin.price_change_percentage_200d_in_currency }}</td>
                        <td class="pct-change">{{ coin.price_change_percentage_1y_in_currency }}</td>
                    </tr>
                      {% endfor %}
                </tbody>
              </table>
            </div>

            
            <div class="container" id="coins-favs-container" style="display: none;">
                <h6>Your Fav Coins</h6>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped" id="coins-favs-table">
                        <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Coin</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>TVL</th>
                                    <th>MCap</th>
                                    <th>FDV</th>
                                    <th>Max Supply</th>
                                    <th>Pct chg</th>
                                    <th>TVL pct chg</th>
                                    <th>Others</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data rows will be added dynamically using JavaScript -->
                            </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        {% endblock %}

        <!-- Right Container - Coin specific -->

        {% block right_container %}
        <div class="col-lg-4 bg-info" style="height: 80vh;">
            <div class="card" id="coin-data-card">
                {% for b in btc %}
                    <div class="card-image" style="background-image: url('{{ b.image }}'); opacity: 0.7; background-repeat: no-repeat;">
                        <!-- Content on top of the background image -->
                        <h5 class="card-title d-inline">{{ b.name }}</h5>
                        <h5 class="card-text d-inline">{{ b.current_price}}</h5>
                        <h5 class="card-text number">Market Cap: {{ b.market_cap}}</h5>
                        <h5 class="card-text">Supply Circ: {{ b.circulating_supply}}</h5>
                        <h5 class="card-text">Total: {{ b.total_supply}}</h5>
                        <h5 class="card-text">Max: {{ b.max_supply }}</h5>
                        <h5 class="card-text pct-change">24h: {{ b.price_change_percentage_24h_in_currency}}</h5>
                        <h5 class="card-text pct-change">7d: {{ b.price_change_percentage_7d_in_currency}}</h5>
                        <h5 class="card-text pct-change">14d: {{ b.price_change_percentage_14d_in_currency}}</h5>
                        <h5 class="card-text pct-change">30d: {{ b.price_change_percentage_30d_in_currency}}</h5>
                        <h5 class="card-text pct-change">200d: {{ b.price_change_percentage_200d_in_currency}}</h5>
                        <h5 class="card-text pct-change">1y: {{ b.price_change_percentage_1y_in_currency}}</h5>

                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}


    </div>

    <div class="row">
        {% block bottom_container %}
        <!-- Bottom Container -->
        <div class="col-12 bg-dark" style="min-height: 300px;">
            <div class="row">


                <div class="col-lg-6">
                    <!-- Content for the first table or section -->
                    <h1>TVL</h1>
                    <div class="table-responsive-sm m-4" style="max-height: 65vh; overflow-y: auto;">
                        <table class="table table-striped table-borderless table-sm" id="test">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th id="table-name-column">Name</th>
                                    <th>Category</th>
                                    <th>TVL</th>
                                    <th>Audits</th>
                                    <th>1d</th>
                                    <th>7d</th>
                                </tr>
                            </thead>
                            <tbody class="text-light">
                                {% for Tvl in tvl %}
                                    <td>
                                        {{ Tvl.index + 1 }}
                                    </td> 
                                    <td class="d-flex">
                                        <img src="{{ Tvl.logo }}" id="coin-logo-table" class="img-fluid rounded-circle" alt="img of {{ Tvl.name}}">
                                        <p class="font-weight-bold mx-1">
                                            {{ Tvl.name }} <span id="ticker-span">[{{ Tvl.symbol}}]</span> 
                                        </p>
                                    </td>
                                    <td>{{ Tvl.category }}</td>
                                    <td class="number">{{ Tvl.tvl }}</td>
                                    <td>{{ Tvl.audits }}</td>
                                    <td class="pct-change">{{ Tvl.change_1d }}</td>
                                    <td class="pct-change">{{ Tvl.change_7d }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                       
                        </table>
                    </div>
                </div>



                <div class="col-lg-6 ">
                    <!-- Content for the second table or section -->

                    <h1>Stablecoins</h1>
                    <div class="table-responsive-sm m-4" style="max-height: 60vh; overflow-y: auto;">
                        <table class="table table-striped table-borderless table-sm" id="test">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th id="table-name-column">Name</th>
                                    <th>Price</th>
                                    <th>Peg</th>
                                    <th>Circulating</th>
                                    <th>1d</th>
                                    <th>7d</th>
                                    <th>30d</th>
                                </tr>
                            </thead>
                            <tbody class="text-light">
                                {% for stable in stables %}
                                    <td>
                                        {{ loop.index }}
                                    </td> 
                                    <td class="d-flex">
                                        <p class="font-weight-bold mx-1">
                                            {{ stable.name }} <span id="ticker-span">[{{ stable.symbol}}]</span> 
                                        </p>
                                    </td>
                                    <td> {% if stable.price is not none %}
                                        {{ stable.price | round(3) }}
                                        {% else %} - {% endif %}
                                    </td>
                                    <td>{{ stable.pegMechanism }}</td>
                                    <td class="number">{{ stable.circulating }}</td>
                                    <td class="number">{{ stable.circulatingPrevDay }}</td>
                                    <td class="number">{{ stable.circulatingPrevWeek }}</td>
                                    <td class="number">{{ stable.circulatingPrevMonth }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                       
                        </table>
                    </div>
                </div>
                <!-- Repeat the structure for additional tables or content as needed -->

                <div class="col-lg-6 ">
                    <h1>Fees</h1>
                    <div class="table-responsive-sm m-4" style="max-height: 60vh; overflow-y: auto;">
                        <table class="table table-striped table-borderless table-sm" id="test">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th id="table-name-column">Name</th>
                                    <th>Fees</th>
                                    <th>Category</th>
                                    <th>Volume 1d</th>
                                    <th>change 1d</th>
                                    <th>Volume 7d</th>
                                    <th>Change 7d</th>
                                    <th>Volume 30d</th>
                                    <th>Change 30d</th>
                                    <th>Total All Time</th>
                                </tr>
                            </thead>
                            <tbody class="text-light">
                                {% for fee in fees %}
                                    <td>
                                        {{ loop.index }}
                                    </td> 
                                    <td class="d-flex">
                                        <img src="{{ fee.logo}}" id="coin-logo-table" class="img-fluid rounded-circle" alt="img of {{ fee.displayName}}">  
                                        <p class="font-weight-bold mx-1"> {{ fee.displayName }} </p>
                                    </td>
                                    <td class="number">{{ fee.dailyFees }}</td>
                                <td>{{ fee.category }}</td>
                                <td class="number">{{ fee.total24h }}</td>
                                <td class="pct-change">{{ fee.change_1d }}</td>
                                <td class="number">{{ fee.total7d }}</td>
                                <td class="pct-change">{{ fee.change_7d }}</td>
                                <td class="number">{{ fee.total30d }}</td>
                                <td class="pct-change">{{ fee.change_30d }}</td>
                                <td class="number">{{ fee.totalAllTime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                       
                        </table>
                    </div>
                </div>



                <div class="col-lg-6 ">
                    <h1>Volume</h1>
                    <div class="table-responsive-sm m-4" style="max-height: 60vh; overflow-y: auto;">
                        <table class="table table-striped table-borderless table-sm" id="test">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th id="table-name-column">Name</th>
                                <th>Volume</th>
                                <th>Category</th>
                                <th>Volume 1d</th>
                                <th>change 1d</th>
                                <th>Volume 7d</th>
                                <th>Change 7d</th>
                                <th>Volume 30d</th>
                                <th>Change 30d</th>
                                <th>Total All Time</th>
                                </tr>
                            </thead>
                            <tbody class="text-light">
                                {% for dex in dex_vol %}
                                    <td>
                                        {{ loop.index }}
                                    </td> 
                                    <td class="d-flex">
                                        <img src="{{ dex.logo}}" id="coin-logo-table" class="img-fluid rounded-circle" alt="img of {{ dex.displayName}}">
                                   <p class="font-weight-bold mx-1"> {{ dex.displayName }} <span id="ticker-span">{{ dex.symbol}}</span></p>
                                    </td>
                                    <td class="number">{{ dex.dailyVolume }}</td>
                                    <td>{{ dex.category }}</td>
                                    <td class="number">{{ dex.total24h }}</td>
                                    <td class="pct-change">{{ dex.change_1d }}</td>
                                    <td class="number">{{ dex.total7d }}</td>
                                    <td class="pct-change">{{ dex.change_7d }}</td>
                                    <td class="number">{{ dex.total30d }}</td>
                                    <td class="pct-change">{{ dex.change_30d }}</td>
                                    <td class="number">{{ dex.totalAllTime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                       
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>


{% endblock %}






<h1>hello</h1>

<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>YourCryptoResearch is a leading platform for in-depth crypto market analysis and insights. We strive to provide valuable information to crypto enthusiasts, traders, and investors.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-light" href="#">Home</a></li>
                    <li><a class="text-light" href="#">Research Reports</a></li>
                    <li><a class="text-light" href="#">Blog</a></li>
                    <li><a class="text-light" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: contact@yourcryptoresearch.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p>&copy; 2023 YourCryptoResearch. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="static/js/javascript.js"></script> 

</body>
</html>