{% extends 'index.html' %}

{% block title %}
    Protocols
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tvl.css') }}">
{% endblock %}


{% block content %}

<div id="tvl-hero-container">
    <div class="row">
        <div class="col-12 col-md-8" id="left">
            tvl plot <br>
            Some tvl data <br>
            Actual tvl <br>
            pct change 1, 7, 30, 90, 1y <br>
            dominance: Top 5 protocols
            Top 5 Categories <br>
            +++
        </div>
        <div class="col-12 col-md-4" id="right">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-8" id="test">

                </div>
                <div class="col-4" id="test">

                </div>
            </div>
            <div class="row">
                <div class="col-2" id="test">1d</div>
                <div class="col-2" id="test">7d</div>
                <div class="col-2" id="test">30d</div>
                <div class="col-2" id="test">90d</div>
                <div class="col-2" id="test">180d</div>
                <div class="col-2" id="test">1y</div>
            </div>
            <div class="row">
                <div class="col-6" id="test">Dominance Protocols</div>
                <div class="col-6" id="test">Dominance Chains</div>
            </div>
        </div>
    </div>
</div>

<div id="tvl-table" class="mx-auto text-center mt-5">
    <div class="table-responsive" id="sub-table">
        <table class="table table-striped table-borderless table-sm table-scrollbar">
            <thead>
                <tr>
                    <th>#</th>
                    <th id="table-name-column">Name</th>
                    <th>Category</th>
                    <th>TVL</th>
                    <th>Audits</th>
                    <th>1d</th>
                    <th>7d</th>
                </tr>
            </thead>
            <tbody>
                {% for Tvl in tvl_table %}
                <tr>
                    <td>
                        {{ Tvl.index + 1 }}
                    </td> 
                    <td class="d-flex">
                        <img src="{{ Tvl.logo }}" id="coin-logo-table" class="img-fluid rounded-circle" alt="img of {{ Tvl.name}}">
                        <p class="font-weight-bold mx-1">
                            {{ Tvl.name }} <span id="ticker-span">[{{ Tvl.symbol}}]</span> 
                        </p>
                    </td>
                    <td>{{ Tvl.category }}</td>
                    <td class="number">{{ Tvl.tvl }}</td>
                    <td>{{ Tvl.audits }}</td>
                    <td class="pct-change">{{ Tvl.change_1d }}</td>
                    <td class="pct-change">{{ Tvl.change_7d }}</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>


{% endblock %}