{% extends 'index.html' %}

{% block title %}
    Chains
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/volume.css') }}">
{% endblock %}


{% block content %}
    Volume Historic

    todays Volume <br>
    This week Volume <br>
    this Months Volume <br>
    This Years Volume <br>
    Cumulative Volume <br>


    <div id="volume-plot">
        {{ volume_historic_plot | safe }}
    </div>



    <div>
        days with greatest volume <br>
        days with lesser volume <br>
        where is the volume <br>
        who makes the volume? <br>
        protocolls <-> chains <br>

    </div>


    <div id="volume-general-container">
        <div class="table-container">

    <div class="table-responsive">
        <table class="table table-striped table-borderless table-sm table align-middle">
          <thead id="head-test">
            <tr id="row-test">
                <th>
                    <div class="th-container" id="th-first">
                        #
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Category
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        1D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        7D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        1M
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        7D Over 7D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        30D Over 30D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total 24H
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total 48H to 24H
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total 7D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total 30D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total 14D to 7D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total 60D to 30D
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Total All Time
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Methodology URL
                    </div>
                </th>
                
                <th>
                    <div class="th-container" id="th-last">
                        Daily Volume
                    </div>
                </th>
          </thead>
          <tbody>
            {% for dex in volume_general %}
            <tr>
                    <td class="table-name-column pl-4">
                        
                        <div class="h6 d-inline mr-3">{{ loop.index }}</div>
                        <img src="{{ dex.logo }}" alt="" id="coin-logo-table" class="d-inline img-fluid rounded-circle">
                        <div class="h6 d-inline ml-3">{{ dex.display_name }}</div>
                    </td>
                    <td>{{ dex.category }}</td>
                    <td class="pct-change">{{ dex.change_1d }}</td>
                    <td class="pct-change">{{ dex.change_7d }}</td>
                    <td class="pct-change">{{ dex.change_1m }}</td>
                    <td class="pct-change" >{{ dex.change_7dover7d }}</td>
                    <td class="pct-change">{{ dex.change_30dover30d }}</td>
                    <td class="number">{{ dex.total24h }}</td>
                    <td class="number" >{{ dex.total48hto24h }}</td>
                    <td class="number">{{ dex.total7d }}</td>
                    <td class="number">{{ dex.total30d }}</td>
                    <td class="number">{{ dex.total14dto_7d }}</td>
                    <td class="number">{{ dex.total60dto30d }}</td>
                    <td class="number">{{ dex.total_all_time }}</td>
                    <td>
                        <a href="{{ dex.methodologyUrl }}" target="_blank" title="Methodology">Link</a>
                    </td>
                    <td class="number">{{ dex.dailyVolume }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>  
</div>

<div class="row m-4">
    <div class="col-12">
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="row ml-5 mr-1">
                    <div class="mx-auto" id="section-plot">
                        {{ categories_plot | safe }}

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row mr-5 ml-1">
                    <div class="mx-auto" id="section-plot">
                        {{ all_time_plot | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
